@import 'fonts.css';

.container {
	max-width: 100vw;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: Inter, system-ui, sans-serif;
	}
}

body {
	@apply relative overflow-x-hidden scroll-smooth;
}

h1 {
	@apply text-4xl;
}

h2 {
	@apply text-3xl;
}

h3 {
	@apply text-2xl;
}

h4 {
	@apply text-xl;
}

h5 {
	@apply text-lg;
}

p {
	@apply text-base;
}

p a {
	@apply text-primary hover:underline dark:text-blue-300;
}

label {
	@apply flex gap-1 text-xs font-semibold uppercase text-gray-600 transition-colors dark:text-white-darker;
}

/* Slider */
.keen-slider {
	display: flex;
	position: relative;
	user-select: none;
	width: 100%;
	transition: height 0.3s;
}

@keyframes ping-large {

	75%,
	100% {
		transform: scale(6);
		opacity: 0;
	}
}
